/* basic styles  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    padding-top: 50px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/* form styling  */

form {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin: 0 auto;
    background-color: #ececec;
    width: 600px;
    height: 270px;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    box-shadow: 1px 1px 20px hsla(37, 12%, 13%, 0.068);
    margin-bottom: 30px;
}

form h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

form input {
    margin: 0 auto;
    border-radius: 30px;
    height: 40px;
    border: none;
    color: #605e66;
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
    width: 80%;
    cursor: pointer;
}

form input:focus {
    scale: 1.1;

}

form button {
    margin: 0 auto;
    border-radius: 30px;
    height: 40px;
    border: none;
    background-color: #ff8800;
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
    width: 80%;
    cursor: pointer;
}

form button:hover {
    transition: .2s ease-in-out;
    background-color: #e65400;
    scale: 1.1;
}

#error {
    width: 100%;
    margin: 0 auto;
    color: red;
    font-size: 19px;
}

.quoteContainer {
    font-size: 30px;
    width: 100%;
    text-align: center;
}